<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="song.pan.toolkit.mybatis.mapper.CityMapper">

  <!--
    select三种传参方式:
      - 方法参数使用@Param注解，然后使用#{param}进行传递
      - 方法参数为Map，使用${key}进行传递
      - 按照方法参数列表的顺序，使用${arg0}, ${arg1}...(从0开始) 或者${param1}，${param2}..(从1开始)
    三种返回类型:
      - 基本类型
      - 实体类或List
      - 自定义返回字段，返回Map对象或者List<Map>
  -->

  <!-- @Param 传参 -->
  <select id="betweenIds" resultType="song.pan.toolkit.mybatis.entity.City">
    select * from city
    where id &gt;= #{from} and id &lt;= #{to}
  </select>

  <!-- Map 传参
     - 参数传递使用 Map，引用方式为 ${key}
     - 使用 ${key} 而不是 #{key} 来拼接字符串,
        ${key}解析过来的参数值不带单引号, #{key}解析传过来参数带单引号, 所以 #{key} 常常用来防止 sql 注入
     - 用 if 实现条件查询
  -->
  <select id="query" resultType="song.pan.toolkit.mybatis.entity.City" parameterType="java.util.Map">
    select * from city
    where 1 = 1
    <if test="name != null and '' != name">
      and name = #{name}
    </if>
    <if test="countrycode != null and '' != countrycode">
      and countrycode = #{countrycode}
    </if>
  </select>

  <!-- Position 传参
       参数对应格式 : arg0, arg1...(从0开始) 或者 param1，param2..(从1开始)
  -->
  <select id="populationLargerThan" resultType="song.pan.toolkit.mybatis.entity.City">
    select * from city
    where population >= #{param1} limit #{param2}
  </select>

  <!-- List 传参
       参数传递使用 List 作为 in 的条件
  -->
  <select id="citiesIn" resultType="song.pan.toolkit.mybatis.entity.City">
    select * from city where id in
    <foreach item="element" index="i" collection="list" open="(" separator="," close=")">
      ${element}
    </foreach>
  </select>

  <!-- 返回 Map -->
  <select id="topRowsOf" resultMap="CityNameAndDistrict">
    select name, district from city limit #{param1}
  </select>

  <!-- 自定义返回的 column, 放在 Map 里面 -->
  <resultMap id="CityNameAndDistrict" type="java.util.Map">
    <result column="Name" property="name" jdbcType="CHAR"/>
    <result column="District" property="district" jdbcType="CHAR"/>
  </resultMap>

  <!-- 分页查询 -->
  <select id="pagedQuery" resultMap="BaseResultMap" >
    select * from city
  </select>

  <resultMap id="BaseResultMap" type="song.pan.toolkit.mybatis.entity.City">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 25 11:53:40 CST 2021.
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="CHAR" property="name" />
    <result column="CountryCode" jdbcType="CHAR" property="countrycode" />
    <result column="District" jdbcType="CHAR" property="district" />
    <result column="Population" jdbcType="INTEGER" property="population" />
  </resultMap>


  <!-- choose标签 -->
  <select id="selectChoose" parameterType="song.pan.toolkit.mybatis.entity.City" resultType="song.pan.toolkit.mybatis.entity.City">
    select * from
    ( select * from city a where 1=1
    <if test="name != null and '' != name">
      and a.name = #{name}
    </if>
    <choose>
      <when test="countrycode != null and '' != countrycode">
        and a.countrycode = #{countrycode}
      </when>
      <otherwise>
        and a.district = #{countrycode}
      </otherwise>
    </choose>
    order by a.id asc)
  </select>

  <!-- trim标签, 拼接 sql -->
  <insert id="createCity" parameterType="song.pan.toolkit.mybatis.entity.City">
      insert into city
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="name != null">
              NAME,
          </if>
          <if test="countrycode != null">
              COUNTRYCODE,
          </if>
          <if test="district != null">
              DISTRICT,
          </if>
          <if test="population != null">
              POPULATION,
          </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="name != null">
              #{name, jdbcType=VARCHAR},
          </if>
          <if test="countrycode != null">
              #{countrycode,jdbcType=VARCHAR},
          </if>
          <if test="district != null">
              #{district,jdbcType=VARCHAR},
          </if>
          <if test="population != null">
              #{population,jdbcType=INTEGER},
          </if>
      </trim>
  </insert>


  <update id="updateCity" parameterType="song.pan.toolkit.mybatis.entity.City">
      update city a
         set a.name = #{name, jdbcType=VARCHAR},
             a.countrycode = #{countrycode,jdbcType=VARCHAR},
             a.district =  #{district,jdbcType=VARCHAR},
             a.population =  #{population,jdbcType=INTEGER},
       where a.id = #{id,jdbcType=INTEGER}
  </update>

  <update id="update" parameterType="song.pan.toolkit.mybatis.entity.City">
      update city
      <set>
          <if test="name != null">
              name = #{name,jdbcType=VARCHAR},
          </if>
          <if test="countrycode != null">
              countrycode = #{countrycode,jdbcType=VARCHAR},
          </if>
          <if test="district != null">
              district = #{district,jdbcType=VARCHAR},
          </if>
          <if test="population != null">
              population = #{population,jdbcType=INTEGER},
          </if>
      </set>
      where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 25 11:53:40 CST 2021.
    -->
    delete from city
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="song.pan.toolkit.mybatis.entity.City">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 25 11:53:40 CST 2021.
    -->
    insert into city (ID, Name, CountryCode, District, Population)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{countrycode,jdbcType=CHAR}, 
      #{district,jdbcType=CHAR}, #{population,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKey" parameterType="song.pan.toolkit.mybatis.entity.City">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 25 11:53:40 CST 2021.
    -->
    update city
    set Name = #{name,jdbcType=CHAR},
      CountryCode = #{countrycode,jdbcType=CHAR},
      District = #{district,jdbcType=CHAR},
      Population = #{population,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 25 11:53:40 CST 2021.
    -->
    select ID, Name, CountryCode, District, Population
    from city
    where ID = #{id,jdbcType=INTEGER}
  </select>


  <!-- sql标签 -->
  <sql id = "BaseColumns">
    ID,NAME,COUNTRYCODE,DISTRICT,POPULATION
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 25 11:53:40 CST 2021.
    -->
    select
    <include refid="BaseColumns" />
    from city
  </select>


</mapper>